NODE_ENV=development
USE_SECURE_COOKIES=false
COOKIE_SAME_SITE=lax
BASE_URL=http://localhost:3000
BACKEND_URL=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
MONGODB_URI=
MONGODB_URI_WITH_DB_NAME=
DB_NAME=
JWT_SECRET=
NEXT_PUBLIC_JWT_SECRET=
JWT_REFRESH_SECRET=
BETTER_AUTH_SECRET=
ENABLE_SWAGGER=true